# Archivos generados por el sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
logs
*.log.*

# Carpetas de compilación de Gradle y Kotlin
/build/
/.gradle/

# Archivos del IDE (IntelliJ / WebStorm)
# Permite compartir configuraciones de ejecución, pero ignora el resto
.idea/*
!.idea/runConfigurations/
!.idea/misc.xml
!.idea/gradle.xml
*.iml
*~
/shelf/
/workspace.xml